<?xml version="1.0" encoding="UTF-8"?>
	<!-- STRUTSCX LOG4J CONFIGURATION - XML style -->
<!-- <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p -  %m%n" />
		</layout>
	</appender>

	<!-- 接口服务器输出日志
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="../logs/SCCN.log" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %m%n" />
		</layout>
	</appender>
	 -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="G:/log/AboutUs/logs/portal.log" />
		<param name="MaxFileSize" value="10GB" />
		<param name="MaxBackupIndex" value="30" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c] [%p] - %m%n" /> 
		</layout>
	</appender> 

	<logger name="com.channelsoft">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT"/>
	</root>
</log4j:configuration>
